.primary-btn {
  background-color: var(--color-primary);
  color: #fff;
  font-weight: 700;
  font-size: 2.8rem;
  border-radius: 50rem;
  padding: 2.2rem 3.2rem;
  border: none;
  max-width: fit-content;
}

@media (max-width: 1360px) {
  .primary-btn {
    font-size: 2rem;
    padding: 1.5rem 2.5rem;
  }
}

