.primary-btn {
  background-color: var(--color-primary);
  border-radius: 10rem;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  display: flex;
	align-items: center;
	justify-content: center;
  white-space: nowrap;
  border: none;
  width: fit-content;
  height: fit-content;
}

@media (max-width: 1360px) {
  .primary-btn {
    font-size: 2rem;
    padding: 1.5rem 2.5rem;
  }
}

